# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
build/
dist/

# Cache directories
.cache/
.next/
out/
public/static/

# Testing
coverage/
junit.xml
test-results.xml

# Miscellaneous
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~.swp
*.swo
*.swn

# Editor directories and files
/.vscode/
/.vscode/*
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# React Native specific
.expo/
.expo-shared/

# Yarn specific
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.pnp/

# SASS cache
.sass-cache/

# Optional npm cache directory
.npm

# eslint cache
.eslintcache

# Optional REACT-NATIVE CACHES
react-native/packager-info.json
react-native/metro-cache/

.vs